# Byte-compiled / caché
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de configuración
.env

# Distribución y empaquetado
build/
dist/
*.egg-info/

# Cachés de herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDEs y editores
.vscode/
.idea/
